body {
  display: flex;
	justify-content: center;
	font-family: 'Jost', sans-serif;
	background-image:
  linear-gradient(to bottom, rgba(232, 181, 171, 0.5), rgba(212, 187, 189, 0.5)),
  url('icon-left-font.png');
}

#root {

	background: #f05454;
	width: 50%;

}

h3{

	color:rgb(106, 14, 14);
}

.inputs-post-commentaire {

	margin-top: 20px;
	width: 100%;
	bottom: 15%;
	padding-bottom: 5%;
	display: flex;
}
.buttondelete {

	color:#f05454;
}

.buttoncommentaire {

	margin-top: 20px;
	color :black;
}

.inputForm {
  	width: 50%;
	height: 20px;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 30px;
	border: none;
	outline: none;
	border-radius: 65px;
}


.inputs-post-container {

  display: flex;
  align-items: center;
  gap: 20px
  
}

.share-button {
	float: right;
	color : rgb(157 25 0);
}


.headerprofil {
flex-wrap: wrap;
	color: black;
	display: flex;
	width: 100%;	
	
}

  .img-post {
	
	height: 300px;
    width: 50%;
	display: block; margin-left: auto; margin-right: auto

  }
  .logo {
	  width: 50px;
	  height: 50px;
  }
  
  .header-right {

	display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
	flex-wrap: wrap;
  }

  .new-post { 	
	margin-top: 10px;
    background: white;
    border: 1px solid;
    padding: 10px;
  }
  .post-container {
	  margin-top: 20px;
	  background: white;
	  border: 1px solid;
  }
  .comment-input {
	  display: flex;
  }
  .comment-list {
    padding: 10px;
    display: flex;
    justify-content: space-between;
	border: 1px solid;
	box-shadow: 5px 10px #f05454;
	

  }
  .vote {
	margin-top: 10px;
	margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
  }
  .post-header {
	margin-top: 10px;
	justify-content: space-between;
	display: flex;
	text-align: center;
	color: black;
	font-size: 100%;
	padding-bottom: 20px;
	padding-right: 15px;
	padding-left: 15px;
  }

  .button-login {
	  float: right
  }
  .dislike {
	  background-color: #f05454;
	  ;
  }

  .header-link {
	color: black;
  }
  @media (max-width: 1100px) {
	.body {

		width: auto;
	}
	.post-header{
	
		width: auto;
	}

	.comment-list {
	display: flex;	
	flex-direction: column-reverse;
	}
	.new-post {

		display: flex;	
		flex-direction: column-reverse;
	}	
   }

   @media (max-width: 768px) {
	.post-header{
		
		width: 50%;
	}

	.body {

		width: 50%;
	}
	.comment-list {
	display: flex;	
	flex-direction: column-reverse;		
	}
	.new-post {

	display: flex;	
	flex-direction: column-reverse;
			
		}
   }

   @media (max-width: 500px) {

	.body {

		width: auto;
	}
	.post-header{
		
		width: 50%;
	}

	.comment-list {
	display: flex;	
	flex-direction: column-reverse;
	}

	.new-post {

	display: flex;	
	flex-direction: column-reverse;
		

	}
   }
