html
{color:black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

p 
{
  width: 100%;
  border: 1px solid darken(white, 15%);
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

body {
  background: #e9e9e9;
  color:black;
  margin: 30%;
  width: 50%;
 
}

h3 
{
  background-color: violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

input {
 
 
  width: 100%;
  border: 1px solid darken(white, 15%);
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  


}